.gitattributes export-ignore text
.gitmodules export-ignore
.gitignore export-ignore

# Text Rules
* text=auto tab-in-indent,trailing-space

# Script Rules
*.sh text eol=lf whitespace=tab-in-indent,trailing-space
*.bat text eol=crlf whitespace=tab-in-indent,trailing-space

# Image Rules
*.jpg -text binary
*.jpeg -text binary
*.gif -text binary
*.png -text binary
*.tif -text binary
*.tiff -text binary
*.ico -text binary
*.eps -text binary

# Document Rules
*.pdf diff=astextplain binary
*.PDF diff=astextplain binary
*.doc diff=astextplain
*.DOC diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot diff=astextplain text
*.DOT diff=astextplain text
*.rtf diff=astextplain
*.RTF diff=astextplain
*.md text
*.adoc text
*.textile text
*.mustache text
*.csv text
*.tab text
*.tsv text
*.sql text

# Web Rules
*.css           text eol=lf whitespace=blank-at-eol,-blank-at-eof,-space-before-tab,tab-in-indent,tabwidth=2
*.df            text whitespace=tab-in-indent,trailing-space
*.engine        text eol=lf whitespace=blank-at-eol,-blank-at-eof,-space-before-tab,tab-in-indent,tabwidth=2 diff=php
*.htm           text whitespace=tab-in-indent,trailing-space
*.html          text eol=lf whitespace=blank-at-eol,-blank-at-eof,-space-before-tab,tab-in-indent,tabwidth=2 diff=html
*.inc           text eol=lf whitespace=blank-at-eol,-blank-at-eof,-space-before-tab,tab-in-indent,tabwidth=2 diff=php
*.info          text eol=lf whitespace=blank-at-eol,-blank-at-eof,-space-before-tab,tab-in-indent,tabwidth=2
*.install       text eol=lf whitespace=blank-at-eol,-blank-at-eof,-space-before-tab,tab-in-indent,tabwidth=2 diff=php
*.java          text whitespace=tab-in-indent,trailing-space
*.js            text eol=lf whitespace=blank-at-eol,-blank-at-eof,-space-before-tab,tab-in-indent,tabwidth=2
*.json          text eol=lf whitespace=blank-at-eol,-blank-at-eof,-space-before-tab,tab-in-indent,tabwidth=2
*.jsp           text whitespace=tab-in-indent,trailing-space
*.jspf          text whitespace=tab-in-indent,trailing-space
*.jspx          text whitespace=tab-in-indent,trailing-space
*.lock          text eol=lf whitespace=blank-at-eol,-blank-at-eof,-space-before-tab,tab-in-indent,tabwidth=2
*.md            text eol=lf whitespace=blank-at-eol,-blank-at-eof,-space-before-tab,tab-in-indent,tabwidth=2
*.module        text eol=lf whitespace=blank-at-eol,-blank-at-eof,-space-before-tab,tab-in-indent,tabwidth=2 diff=php
*.php           text eol=lf whitespace=blank-at-eol,-blank-at-eof,-space-before-tab,tab-in-indent,tabwidth=2 diff=php
*.po            text eol=lf whitespace=blank-at-eol,-blank-at-eof,-space-before-tab,tab-in-indent,tabwidth=2
*.properties    text whitespace=tab-in-indent,trailing-space
*.script        text eol=lf whitespace=blank-at-eol,-blank-at-eof,-space-before-tab,tab-in-indent,tabwidth=2
# *.sh            text eol=lf whitespace=blank-at-eol,-blank-at-eof,-space-before-tab,tab-in-indent,tabwidth=2 diff=php
*.sql           text eol=lf whitespace=blank-at-eol,-blank-at-eof,-space-before-tab,tab-in-indent,tabwidth=2
*.tag           text whitespace=tab-in-indent,trailing-space
*.tagx          text whitespace=tab-in-indent,trailing-space
*.test          text eol=lf whitespace=blank-at-eol,-blank-at-eof,-space-before-tab,tab-in-indent,tabwidth=2 diff=php
*.theme         text eol=lf whitespace=blank-at-eol,-blank-at-eof,-space-before-tab,tab-in-indent,tabwidth=2 diff=php
*.tld           text whitespace=tab-in-indent,trailing-space
*.txt           text eol=lf whitespace=tab-in-indent,trailing-space
*.xml           text eol=lf whitespace=blank-at-eol,-blank-at-eof,-space-before-tab,tab-in-indent,tabwidth=2
*.yml           text eol=lf whitespace=blank-at-eol,-blank-at-eof,-space-before-tab,tab-in-indent,tabwidth=2

*.class         binary
*.ear           binary
*.jar           binary
*.war           binary
*.so            binary

# ActionScript
*.swf -crlf -diff -merge binary
*.swc -crlf -diff -merge binary
*.fla -crlf -diff -merge

# C++
## sources
*.c text whitespace=tab-in-indent,trailing-space
*.cc text whitespace=tab-in-indent,trailing-space
*.cxx text whitespace=tab-in-indent,trailing-space
*.cpp text whitespace=tab-in-indent,trailing-space
*.c++ text whitespace=tab-in-indent,trailing-space
*.hpp text whitespace=tab-in-indent,trailing-space
*.h text whitespace=tab-in-indent,trailing-space
*.h++ text whitespace=tab-in-indent,trailing-space
*.hh text whitespace=tab-in-indent,trailing-space
## Compiled Object files
*.slo binary
*.lo binary
*.o binary
*.obj binary
## Precompiled Headers
*.gch binary
*.pch binary
## Compiled Dynamic libraries
*.so binary
*.dylib binary
*.dll binary
## Compiled Static libraries
*.lai binary
*.la binary
*.a binary
*.lib binary
## Executables
*.exe binary
*.out binary
*.app binary

# CSharp
*.cs diff=csharp whitespace=tab-in-indent,trailing-space

# Lua
*.lua       text whitespace=tab-in-indent,trailing-space

# Matlab
*.m             text whitespace=tab-in-indent,trailing-space
*.mu            text whitespace=tab-in-indent,trailing-space
# Binary files
*.p             binary
*.mex*          binary
*.fig           binary
*.mat           binary
*.mdl           binary
*.slx           binary
*.mdlp          binary
*.slxp          binary
*.sldd          binary
*.mltbx         binary
*.mlappinstall  binary
*.mlpkginstall  binary
*.mn            binary

# ObjectiveC
*.pbxproj binary -merge=union

# Perl
*.pl        text whitespace=tab-in-indent,trailing-space
*.pm        text whitespace=tab-in-indent,trailing-space

# Python
# Source files
*.pxd       text diff=python eol=crlf whitespace=tab-in-indent,trailing-space
*.py        text diff=python eol=crlf whitespace=tab-in-indent,trailing-space
*.py3       text diff=python eol=crlf whitespace=tab-in-indent,trailing-space
*.pyw       text diff=python eol=crlf whitespace=tab-in-indent,trailing-space
*.pyx       text diff=python eol=crlf whitespace=tab-in-indent,trailing-space
# Binary files
*.db        binary
*.p         binary
*.pkl       binary
*.pyc       binary
*.pyd       binary
*.pyo       binary

# R
# Source files
*.Rdata     text whitespace=tab-in-indent,trailing-space
*.rdb       binary
*.rds       binary
*.Rd        text whitespace=tab-in-indent,trailing-space
*.Rdx       binary
*.Rmd       text whitespace=tab-in-indent,trailing-space
*.R         text whitespace=tab-in-indent,trailing-space

# Servoy
*.frm -text whitespace=tab-in-indent,trailing-space
*.val -text whitespace=tab-in-indent,trailing-space
*.tbl -text whitespace=tab-in-indent,trailing-space
*.rel -text whitespace=tab-in-indent,trailing-space
*.dbi -text whitespace=tab-in-indent,trailing-space
*.sec -text whitespace=tab-in-indent,trailing-space

# VisualStudio
*.sln        text eol=crlf whitespace=tab-in-indent,trailing-space
*.csproj     text eol=crlf whitespace=tab-in-indent,trailing-space
*.vbproj     text eol=crlf whitespace=tab-in-indent,trailing-space
*.vcxproj    text eol=crlf whitespace=tab-in-indent,trailing-space
*.vcproj     text eol=crlf whitespace=tab-in-indent,trailing-space
*.dbproj     text eol=crlf whitespace=tab-in-indent,trailing-space
*.fsproj     text eol=crlf whitespace=tab-in-indent,trailing-space
*.lsproj     text eol=crlf whitespace=tab-in-indent,trailing-space
*.wixproj    text eol=crlf whitespace=tab-in-indent,trailing-space
*.modelproj  text eol=crlf whitespace=tab-in-indent,trailing-space
*.sqlproj    text eol=crlf whitespace=tab-in-indent,trailing-space
*.wmaproj    text eol=crlf whitespace=tab-in-indent,trailing-space
*.xproj      text eol=crlf whitespace=tab-in-indent,trailing-space
*.props      text eol=crlf whitespace=tab-in-indent,trailing-space
*.filters    text eol=crlf whitespace=tab-in-indent,trailing-space
*.vcxitems   text eol=crlf whitespace=tab-in-indent,trailing-space
#*.sln       merge=binary
#*.csproj    merge=binary
#*.vbproj    merge=binary
#*.vcxproj   merge=binary
#*.vcproj    merge=binary
#*.dbproj    merge=binary
#*.fsproj    merge=binary
#*.lsproj    merge=binary
#*.wixproj   merge=binary
#*.modelproj merge=binary
#*.sqlproj   merge=binary
#*.wwaproj   merge=binary
#*.xproj     merge=binary
#*.props     merge=binary
#*.filters   merge=binary
#*.vcxitems  merge=binary

# Web
## SOURCE CODE
*.coffee   text whitespace=tab-in-indent,trailing-space
*.ini      text whitespace=tab-in-indent,trailing-space
*.jsx      text whitespace=tab-in-indent,trailing-space
*.less     text whitespace=tab-in-indent,trailing-space
*.od       text whitespace=tab-in-indent,trailing-space
*.onlydata text whitespace=tab-in-indent,trailing-space
*.rb       text whitespace=tab-in-indent,trailing-space
*.sass     text whitespace=tab-in-indent,trailing-space
*.scm      text whitespace=tab-in-indent,trailing-space
*.scss     text whitespace=tab-in-indent,trailing-space
*.styl     text whitespace=tab-in-indent,trailing-space
*.ts       text whitespace=tab-in-indent,trailing-space
*.tsx      text whitespace=tab-in-indent,trailing-space
*.xhtml    text whitespace=tab-in-indent,trailing-space
## DOCKER
*.dockerignore    text whitespace=tab-in-indent,trailing-space
Dockerfile    text whitespace=tab-in-indent,trailing-space
## DOCUMENTATION
*.markdown   text whitespace=tab-in-indent,trailing-space
*.md         text whitespace=tab-in-indent,trailing-space
*.mdwn       text whitespace=tab-in-indent,trailing-space
*.mdown      text whitespace=tab-in-indent,trailing-space
*.mkd        text whitespace=tab-in-indent,trailing-space
*.mkdn       text whitespace=tab-in-indent,trailing-space
*.mdtxt      text whitespace=tab-in-indent,trailing-space
*.mdtext     text whitespace=tab-in-indent,trailing-space
AUTHORS      text whitespace=tab-in-indent,trailing-space
CHANGELOG    text whitespace=tab-in-indent,trailing-space
CHANGES      text whitespace=tab-in-indent,trailing-space
CONTRIBUTING text whitespace=tab-in-indent,trailing-space
COPYING      text whitespace=tab-in-indent,trailing-space
copyright    text whitespace=tab-in-indent,trailing-space
*COPYRIGHT*  text whitespace=tab-in-indent,trailing-space
INSTALL      text whitespace=tab-in-indent,trailing-space
license      text whitespace=tab-in-indent,trailing-space
LICENSE      text whitespace=tab-in-indent,trailing-space
NEWS         text whitespace=tab-in-indent,trailing-space
readme       text whitespace=tab-in-indent,trailing-space
*README*     text whitespace=tab-in-indent,trailing-space
TODO         text whitespace=tab-in-indent,trailing-space
## TEMPLATES
*.ejs        text whitespace=tab-in-indent,trailing-space
*.haml       text whitespace=tab-in-indent,trailing-space
*.handlebars text whitespace=tab-in-indent,trailing-space
*.hbs        text whitespace=tab-in-indent,trailing-space
*.hbt        text whitespace=tab-in-indent,trailing-space
*.jade       text whitespace=tab-in-indent,trailing-space
*.latte      text whitespace=tab-in-indent,trailing-space
*.njk        text whitespace=tab-in-indent,trailing-space
*.phtml      text whitespace=tab-in-indent,trailing-space
*.tmpl       text whitespace=tab-in-indent,trailing-space
*.tpl        text whitespace=tab-in-indent,trailing-space
*.twig       text whitespace=tab-in-indent,trailing-space
## LINTERS
.csslintrc    text whitespace=tab-in-indent,trailing-space
.eslintrc     text whitespace=tab-in-indent,trailing-space
.htmlhintrc   text whitespace=tab-in-indent,trailing-space
.jscsrc       text whitespace=tab-in-indent,trailing-space
.jshintrc     text whitespace=tab-in-indent,trailing-space
.jshintignore text whitespace=tab-in-indent,trailing-space
.stylelintrc  text whitespace=tab-in-indent,trailing-space
## CONFIGS
*.bowerrc      text whitespace=tab-in-indent,trailing-space
*.cnf          text whitespace=tab-in-indent,trailing-space
*.conf         text whitespace=tab-in-indent,trailing-space
*.config       text whitespace=tab-in-indent,trailing-space
.browserslistrc    text whitespace=tab-in-indent,trailing-space
.editorconfig  text whitespace=tab-in-indent,trailing-space
.gitconfig     text whitespace=tab-in-indent,trailing-space
.htaccess      text whitespace=tab-in-indent,trailing-space
*.npmignore    text whitespace=tab-in-indent,trailing-space
*.yaml         text whitespace=tab-in-indent,trailing-space
browserslist   text whitespace=tab-in-indent,trailing-space
Makefile       text whitespace=tab-in-indent,trailing-space
makefile       text whitespace=tab-in-indent,trailing-space
## HEROKU
Procfile    text whitespace=tab-in-indent,trailing-space
.slugignore text whitespace=tab-in-indent,trailing-space
## GRAPHICS
*.ai   binary
*.bmp  binary
*.jng  binary
*.jp2  binary
*.jpx  binary
*.jxr  binary
*.psb  binary
*.psd  binary
*.svg  text whitespace=tab-in-indent,trailing-space
*.svgz binary
*.wbmp binary
*.webp binary
## AUDIO
*.kar  binary
*.m4a  binary
*.mid  binary
*.midi binary
*.mp3  binary
*.ogg  binary
*.ra   binary
## VIDEO
*.3gpp binary
*.3gp  binary
*.as   binary
*.asf  binary
*.asx  binary
*.fla  binary
*.flv  binary
*.m4v  binary
*.mng  binary
*.mov  binary
*.mp4  binary
*.mpeg binary
*.mpg  binary
*.ogv  binary
*.webm binary
## ARCHIVES
*.7z  binary
*.gz  binary
*.jar binary
*.rar binary
*.tar binary
*.zip binary
## FONTS
*.ttf   binary
*.eot   binary
*.otf   binary
*.woff  binary
*.woff2 binary
